.apply-container {
    width: 100%;
    float: left;
}

.applyForm-container {
    width: 80%;
    margin: auto;
}

.applyForm {
    width: 75%;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5em;
}

.titleForm-container {
    width: 100%;
    float: left;
    text-align: center;
}

.titleForm {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 10px;
}

.nameInfo-container {
    width: 33.3%;
    float: left;
    text-align: center;
}

.apply-input {
    width: 85%;
    outline: none;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: solid black 1px;
    box-shadow: 0 0 3px 1px lightblue;
}