.globalRender-container {
    width: 100%;
    float: left;
}

.globalRenderTitle-container {
    width: 100%;
    float: left;
    text-align: center;
}

.globalRenderTitle {
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.globalLink-container {
    width: 100%;
    float: left;
}

.globalButton-container {
    width: 33.3%;
    float: left;
    text-align: center;
}

.globalButton-containerInner {
   width: 5%;
   margin: auto;
   margin-top: 2em;
   border: solid black 1px;
   border-radius: 50%;
}

.globalNavLink {
    font-size: 25px;
    text-decoration: none;
}