.mobile-helpWantedGridP1 {
    display: none;
}

.helpWanted-container {
    float: left;
    margin-top: 5em;
    width: 100%;
    height: 28em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.helpWanted-boxC {
    width: 100%;
    float: left;
    margin-top: 2em;
}

.helpWanted-text {
    color: red;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
    font-size: 50px;
    border: solid red 2px;
    background-color: black;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.helpWanted-infoC {
    width: 100%;
    float: left;
    margin-top: 2em;
}

.helpWanted-p1 {
    color: white;
    font-size: 25px;
    font-family: 'Bungee Inline', cursive;
    margin-top: -25px;
}

.helpWanted-p1 b {
    color: red;
    text-shadow: 2px 2px black;
}

.helpWanted-buttonC {
    width: 100%;
    float: left;
}

.apply-now-button {
    width: 50%;
    margin-top: 2em;
    height: 50px;
    background-color: black;
    color: red;
    border: solid red;
    border-radius: 10px;
    font-size: 25px;
}

.apply-link {
    width: 100%;
    float: left;
    color: red;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
    margin-top: -8px;
}

/* @media only screen and (min-width: 200px) and (max-width: 299px) {
    
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
    
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
    
}





@media only screen and (min-width: 800px) and (max-width: 899px) {

} */

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .helpWanted-infoC {
        display: none;
    }

    .mobile-helpWantedGridP1 {
        display: none;
    }

    .helpWanted-buttonC {
        margin-top: -4.8em;
    }

    .helpWanted-container {
        height: auto;
        background: none;
        margin-top: 0;
    }

    .helpWanted-text {
        font-size: 36px;
    }

    .apply-link {
        font-size: 20px;
        margin-top: -0.40em;
    }

    .apply-now-button {
        height: 40px;
        margin-top: 2.3em;
    }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
    .helpWanted-infoC {
        display: none;
    }

    .mobile-helpWantedGridP1 {
        display: none;
    }

    .helpWanted-buttonC {
        margin-top: -4.8em;
    }

    .helpWanted-container {
        height: auto;
        background: none;
        margin-top: 1.5em;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
    .helpWanted-infoC {
        display: none;
    }

    .mobile-helpWantedGridP1 {
        display: none;
    }

    .helpWanted-buttonC {
        margin-top: -4.8em;
    }

    .helpWanted-container {
        height: auto;
        background: none;
        margin-top: 4em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
    .helpWanted-container {
        background: none;
    }

    .helpWanted-text {
        font-size: 35px;
    }
    
    .helpWanted-p1 {
        display: none;
    }

    .helpWanted-buttonC {
        margin-top: -45px;
    }
    
    .apply-now-button {
        margin-top: 0;
        font-size: 20px;
        height: 40px;
    } 
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
    .helpWanted-container {
        background: none;
    }

    .helpWanted-text {
        font-size: 35px;
    }
    
    .helpWanted-p1 {
        display: none;
    }

    .helpWanted-buttonC {
        margin-top: -45px;
    }
    
    .apply-now-button {
        margin-top: 0;
        font-size: 25px;
    } 
}

@media only screen and (min-width: 800px) and (max-width: 899px) {    
    .helpWanted-container {
        background: none;
    }

    .helpWanted-text {
        font-size: 35px;
    }
    
    .helpWanted-p1 {
        display: none;
    }

    .helpWanted-buttonC {
        margin-top: -45px;
    }
    
    .apply-now-button {
        margin-top: 0;
        font-size: 25px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
    .helpWanted-container {
        margin-top: 6.5em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }

    .helpWanted-text {
        font-size: 28px;
        border: none;
        background: transparent;
    }

    .helpWanted-infoC {
        display: none;
    }

    .helpWanted-boxC {
        margin-top: -0.5em;
        background: transparent;
    }

    .mobile-helpWantedGridP1 {
        display: block;
        width: 100%;
        float: left;
        margin-top: -2em;
    }

    .mobile-helpWatedTextC1 {
        height: 2em;
        width: 100%;
        float: left;
        margin-top: 0.5em;
    }

    .mobile-helpWantedText1 {
        font-family: 'Bungee Inline', cursive;
        font-size: 25px;
        color: white;
    }

    .mobile-helpWantedText2 {
        font-family: 'Bungee Inline', cursive;
        font-size: 25px;
        color: red;
    }

    .helpWanted-buttonC {
        width: 100%;
        float: left;
    }
    .apply-now-button {
        margin-top: -0.5em;
        height: 45px;
        font-size: 20px;
        padding-top: 3px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .helpWanted-container {
        margin-top: 7em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }

    .helpWanted-text {
        font-size: 28px;
        border: none;
        background: transparent;
    }

    .helpWanted-infoC {
        display: none;
    }

    .helpWanted-boxC {
        margin-top: -0.5em;
        background: transparent;
    }

    .mobile-helpWantedGridP1 {
        display: block;
        width: 100%;
        float: left;
        margin-top: -2em;
    }

    .mobile-helpWatedTextC1 {
        height: 2em;
        width: 100%;
        float: left;
        margin-top: 0.5em;
    }

    .mobile-helpWantedText1 {
        font-family: 'Bungee Inline', cursive;
        font-size: 25px;
        color: white;
    }

    .mobile-helpWantedText2 {
        font-family: 'Bungee Inline', cursive;
        font-size: 25px;
        color: red;
    }

    .helpWanted-buttonC {
        width: 100%;
        float: left;
    }
    .apply-now-button {
        margin-top: -0.5em;
        height: 45px;
        font-size: 20px;
        padding-top: 3px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
    .helpWanted-container {
        margin-top: 7em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }

    .helpWanted-text {
        font-size: 28px;
        border: none;
        background: transparent;
    }

    .helpWanted-infoC {
        display: none;
    }

    .helpWanted-boxC {
        margin-top: -0.5em;
        background: transparent;
    }

    .mobile-helpWantedGridP1 {
        display: block;
        width: 100%;
        float: left;
        margin-top: -2em;
    }

    .mobile-helpWatedTextC1 {
        height: 2em;
        width: 100%;
        float: left;
        margin-top: 0.5em;
    }

    .mobile-helpWantedText1 {
        font-family: 'Bungee Inline', cursive;
        font-size: 25px;
        color: white;
    }

    .mobile-helpWantedText2 {
        font-family: 'Bungee Inline', cursive;
        font-size: 25px;
        color: red;
    }

    .helpWanted-buttonC {
        width: 100%;
        float: left;
    }
    .apply-now-button {
        margin-top: -0.5em;
        height: 45px;
        font-size: 20px;
        padding-top: 3px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    .helpWanted-text {
        font-size: 30px;
        border: none;
    }
    .helpWanted-infoC {
        margin-top: 0;
    }
    .helpWanted-container {
        margin-top: 7em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }
    .helpWanted-boxC {
        margin-top: 0;
    }
    .apply-now-button {
        margin-top: 0;
    }
    .helpWantedGridP1 {
        width: 50%;
        float: left;
    }
    .helpWanted-p1 {
        text-align: center;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
    .helpWanted-text {
        font-size: 30px;
        border: none;
    }
    .helpWanted-infoC {
        margin-top: 0;
    }
    .helpWanted-container {
        margin-top: 7em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }
    .helpWanted-boxC {
        margin-top: 0;
    }
    .apply-now-button {
        margin-top: 0;
    }
    .helpWantedGridP1 {
        width: 50%;
        float: left;
    }
    .helpWanted-p1 {
        text-align: center;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .helpWanted-text {
        font-size: 45px;
    }

    .helpWanted-container {
        height: 25em;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1919px) {
    .helpWanted-container {
        height: 25em;
    }

    .helpWanted-buttonC {
        margin-top: -1.5em;
    }
}