.helpWanted-container {
    float: left;
    margin-top: 5em;
    width: 100%;
    height: 28em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.helpWanted-boxC {
    width: 100%;
    float: left;
    margin-top: 2em;
}

.helpWanted-text {
    color: red;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
    font-size: 50px;
    border: solid red 2px;
    background-color: black;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.helpWanted-infoC {
    width: 100%;
    float: left;
    margin-top: 2em;
}

.helpWanted-p1 {
    color: white;
    font-size: 25px;
    font-family: 'Bungee Inline', cursive;
    margin-top: -25px;
}

.helpWanted-p1 b {
    color: red;
    text-shadow: 2px 2px black;
}

.helpWanted-buttonC {
    width: 100%;
    float: left;
}

.apply-now-button {
    width: 50%;
    margin-top: 2em;
    height: 50px;
    background-color: black;
    color: red;
    border: solid red;
    border-radius: 10px;
    font-size: 25px;
}

.apply-link {
    width: 100%;
    float: left;
    color: red;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
    margin-top: -8px;
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {

}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {

}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    .helpWanted-text {
        font-size: 30px;
        border: none;
    }
    .helpWanted-infoC {
        margin-top: 0;
    }
    .helpWanted-container {
        margin-top: 7em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }
    .helpWanted-boxC {
        margin-top: 0;
    }
    .apply-now-button {
        margin-top: 0;
    }
    .helpWantedGridP1 {
        width: 50%;
        float: left;
    }
    .helpWanted-p1 {
        text-align: center;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
    .helpWanted-text {
        font-size: 30px;
        border: none;
    }
    .helpWanted-infoC {
        margin-top: 0;
    }
    .helpWanted-container {
        margin-top: 7em;
        height: 11em;
        background-color: rgba(0, 0, 0, 1);
        border: solid red 1px;
    }
    .helpWanted-boxC {
        margin-top: 0;
    }
    .apply-now-button {
        margin-top: 0;
    }
    .helpWantedGridP1 {
        width: 50%;
        float: left;
    }
    .helpWanted-p1 {
        text-align: center;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .helpWanted-text {
        font-size: 45px;
    }

    .helpWanted-container {
        height: 25em;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1919px) {
    .helpWanted-container {
        height: 25em;
    }

    .helpWanted-buttonC {
        margin-top: -1.5em;
    }
}