.menuCom-container {
    width: 100%;
    float: left;
    height: 75em;
}

.menu-box {
    width: 100%;
    float: left;
    height: 100%;
}

.menu-leftC {
    height: 100%;
    width: 20%;
    float: left;
    font-family: 'Bungee Inline', cursive;
    background: rgba(52, 71, 137, 0.2);
}

.menu-leftC-inner {
    width: 100%;
    float: left;
    margin-top: 5em;
}

.navLink-container {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5em;;
}

.navLinks-menu {
    font-size: 30px;
    color: rgb(180, 50, 44);
}

.menu-active {
    color: white;
}

.menu-rightC {
    width: 80%;
    height: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.menu-leftC-line {
    float: left;
    height: 100%;
    border-right: solid red 1px;
}

/* Bungee Inline, cursive */