/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Lemonada', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Bungee Inline', cursive;
*/
.parallaxInnerContainer {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 1550px;
    height: 1000px;
    background-image: url('../assets/woodBack.jpg');
    background-repeat: no-repeat;
    background-size: 1550px 700px;
    filter: blur(8px);
}

.pizzaSpecHomeMainContainer {
    position: fixed;
    left: 50%;
    z-index: 2;
    width: 80%;
    transform: translate(-50%);
}

.pizzaSpecContainerLeft {
    width: 65%;
    float: left;
}

.pizzaSpecContainer {
    margin: auto;
    width: 97%;
    height: 35em;
    margin-top: 5em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.pizzaSpecWeekSpecC {
    width: 100%;
    float: left;
}

.pizzaSpecText {
    color: black;
    text-shadow: 2px 2px blue;
    opacity: 1;
    font-size: 35px;
    font-family: 'Luckiest Guy';
    padding-top: 0.5em;
}

.pizzaInfo, .breadInfo {
    color: black;
    font-size: 35px;
    font-family: 'Luckiest Guy';
    text-shadow: 2px 2px red;
}

.hoursContainer {
    width: 50%;
    float: left;
}

.hoursTextContainer {
    width: 100%;
    float: left;
    text-align: center;
}

.hoursText {
    font-family: 'Bungee Inline', cursive;
    text-shadow: 2px 2px red;
    font-size: 40px;
    margin-left: 1.5em;
}

.ulHoursText {
    list-style-type: none;
}

.daysText {
    text-align: center;
    margin-left: 0em;
    margin-top: -15px;
    font-size: 25px;
    font-family: 'Bungee Inline', cursive;
}

.dayContainer {
    width: 100%;
    float: left;
}

.weekDayText {
    float: left;
    margin-left: 3.0em;
    text-shadow: 2px 2px black;
    color: white;
}

.weekDayText, .closedText, .openedText {
    margin-top: -0.8em;
}

.openedText {
    float: right;
    text-shadow: 2px 2px black;
    color: blue;
}

.closedText {
    float: right;
    text-shadow: 2px 2px black;
    margin-right: 0.7em;
    color: red;
}

.readme {
    height: 800px;
    width: 100%;
    float: left;
}

/* Carshow Container */
.csHourContainer {
    width: 50%;
    float: left;
}

.csTitleContainer {
    text-align: center;
}

.csDateContainer {
    margin-top: -1em;
    text-align: center;
}

.csHoursContainer {
    margin-top: -1.5em;
}

.csTitle {
    font-family: 'Bungee Inline', cursive;
    text-shadow: 2px 2px red;
    font-size: 40px;
    text-align: center;
}

.csDate {
    text-align: center;
    margin-left: 1.5em;
    font-size: 25px;
    font-family: 'Bungee Inline', cursive;
    color: white;
    text-shadow: black 2px 2px;
}

.csHours {
    font-size: 25px;
    font-family: 'Bungee Inline', cursive;
    color: blue;
    text-shadow: black 2px 2px;
    margin-left: 1.4em;
}

.helpWantedContainerRight {
    width: 35%;
    float: left;
}

.helpWantedContainer {
    width: 95%;
    margin: auto;
}


/* Mobile View 245px max */

@media only screen and (min-width: 0px) and (max-width: 245px) {

}

@media only screen and (min-width: 246px) and (max-width: 720px) {

}

@media only screen and (min-width: 721px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .parallaxInnerContainer {
        width: 1250px;
    }   
}

@media only screen and (min-width: 1601px) and (max-width: 1700px) {
    .parallaxInnerContainer {
        width: 1400px;
    }
}



@media only screen and (min-width: 1701px) and (max-width: 1800px) {
    .parallaxInnerContainer {
        width: 1500px;
    }
}

@media only screen and (min-width: 1801px) and (max-width: 1900px) {
    .parallaxInnerContainer {
        width: 1600px;
        background-size: 1625px 700px;
    }
}