@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loadingScreen-container {
    width: 100%;
    float: left;
    text-align: center;
}

.fa-hourglass {
    width: 120px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid white 1px;
    box-shadow: 0px 0px 5px lightblue;;
    border-radius: 100%;
    color: white;
    font-size: 80px;
    margin-top: 3em;
    animation: rotating 2s linear infinite;
}


/* Change back to 33.3% after design */

.pizzaGet-box {
    width: 33.3%;
    height: 21em;
    margin-top: 3em;
    float: left;
    color: white;
    border-bottom: solid white 1px;
}

.pizzaGet-boxBordered {
    width: 100%;
    float: left;
    /* border-right: solid 1px red; */
}

.pizzaGet-boxMargin {
    margin-top: 3em;
    float: left;
    width: 100%;
}

.pizzaGetName-container {
    width: 100%;
    float: left;
    text-align: center;
}

.pizzaGet-name {
    font-size: 35px;
}

.pizzaGetIng-container {
    width: 100%;
    float: left;
}

.pizzaGetSauce-container {
    width: 100%;
    float: left;
}

.pizzaGetSTitle {
    text-decoration: underline;
    font-size: 25px;
    margin-left: 1em;
}

.pizzaGetSIng {
    margin-left: 1.5em;
}

.pizzaGetTop-container {
    margin-top: 10px;
    width: 100%;
    float: left;
}

.pizzaGetTopIng-container {
    float: left;
    width: 100%;
}

.pizzaGetTopIng-Meats {
    width: 100%;
    float: left;
}

.pizzaGetTopIng-MeatsTitle, .pizzaGetTopIng-VeggiesTitle {
    text-decoration: underline;
    font-size: 25px;
    margin-left: 1em;
}

.pizzaGetTopIng-Veggies {
    width: 100%;
    float: left;
    margin-top: 0.5em;
}

.pizzaGetTopIng {
    float: left;
    /* width: 33.3%; */
    margin-left: 1.5em;
    margin-top: 5px;
    padding: 0;
}

.pizzaGet-dataInnerContainer {
    width: 100%;
    float: left;
}

.pizzaGet-dataGrid {
    width: 100%;
    float: left;
}

.pizzaGet-ing {
    float: left;
    margin-top: 0.2em;
    font-size: 18px;
    font-style: italic;
}

.pizzaGetIng-meats {
    width: 100%;
    float: left;
}

.pizzaGetIng-veg {
    width: 100%;
    float: left;
}

.pizzaGetIng-titleVegetablesC {
    margin-top: 5em;
}

.pizzaGetPrice-container {
    width: 100%;
    float: left;
    margin-top: 0.8em;
}

.pizzaGetPriceA-containerGlobal {
    width: 33.2%;
    float: left;
    text-align: center;
    font-size: 23px;
    font-style: italic;
}

.pizzaGetPriceLarge-container {
    border-right: solid white 1px;
}

.pizzaGetPriceSmall-container {
    border-left: solid white 1px;
}

.pizzaGrid-3 {
    margin-top: 2em;
    width: 33.3%;
    float: left;
    text-align: center;
}



@media only screen and (min-width: 900px) and (max-width: 999px) {
    .pizzaRender-container {
        background: white;
    }
}

