.sandwichEdit-container {
    width: 100%;
    float: left;
}

.sandwichEdit-inner {
    width: 98%;
    margin: auto;
}

.sandwichEdit-titleContainer {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.sandwichEdit-title {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-decoration: underline;
}

.sandwichEdit-dataContainer {
    width: 100%;
    float: left;
}

.sandwichEdit-containerBox {
    width: 100%;
    float: left;
    background: lightgrey;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sandwichEdit-leftBox, .sandwichEdit-rightBox {
    width: 50%;
    float: left;
}

.sandwichEdit-id-title-wrap {
    width: 100%;
    float: left;
}

.sandwichEdit-idBox {
    width: 10%;
    float: left;
    text-align: center;
}

.sandwichEdit-id {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-top: 0.2em;
}

.sandwichEdit-titleBox {
    width: 90%;
    float: left;
}

.sandwichEdit-priceBox {
    width: 100%;
    float: left;
}

.sandwichEdit-priceLarge {
    font-size: 15px;
    font-family: 'Lato';
}

.sandwichEdit-gridContainer {
    width: 100%;
    float: left;
    margin-top: 0.5em;
}

.sandgE-3-3 {
    width: 15%;
    float: left;
    margin-left: 1.8em;
}

.sandwichEdit-buttonContainer {
    width: 100%;
    float: left;
}

.sandwichEdit-buttonInner {
    width: 100%;
    float: left;
    margin-top: 0.6em;
}

.sandwichEdit-buttonRemove, .sandwichEdit-buttonEdit {
    float: right;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    border: none;
    margin-right: 1em;
}

.sandwichEdit-buttonRemove {
    background: white;
    border: solid red 1px;
}

.sandwichEdit-buttonEdit {
    background: white;
    border: solid green 1px;
}

.fa-minus-circle, .fa-cogs {
    font-size: 20px;
}

.fa-minus-circle {
    color: red;
}

.fa-cogs {
    color: green;
}

.sandwichMain-container {
    width: 100%;
    float: left;
}

.sandwichButton-container {
    width: 100%;
    float: left;
    text-align: center;
}

.sandwichEditor-button {
    text-align: center;
    margin: auto;
    border: solid lightblue 2px;
    border-radius: 25px;
    margin-top: 5px;
    height: 20px;
    width: 10em;
}

.sandwichFormOutter-container {
    width: 100%;
    float: left;
}

.sandwichForm-container {
    width: 100%;
    height: 38em;
    float: left;
    margin-top: 5em;
}

.sG-4-4 {
    width: 25%;
    height: 42em;
    float: left;
}

.sandwichCheese-container {
    width: 100%;
    float: left;
}

.sandwichCheese-opt1, .sandwichCheese-opt2 {
    width: 98%;
    height: 8em;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 1px;
    box-shadow: grey 5px 5px 15px 3px;
}

.sandwichCheese-nameLeft {
    width: 42%;
    float: left;
    text-align: center;
}

.cheeseOptSand {
    font-family: 'Lato';
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.sandwichCheese-nameRight {
    width: 58%;
    float: left;
    text-align: center;
}

.sandwichCheeseInput {
    margin-top: 10px;
    border: solid rgba(0, 0, 0, 0.2) 2px;
    border-radius: 2px;
    background-color: transparent;
}

.sandwichCheeseBtnsC {
    width: 100%;
    float: left;
}

.sandwichCheese-btnsInner {
    width: 33.3%;
    float: left;
    margin-top: 1.1em;
    text-align: center;
}

.sandwichCheeseSelectorDisabled {
    
}

.sandwichSauce-container {
    width: 100%;
    float: left;
}

.sandwichSauce-opt1, .sandwichSauce-opt2 {
    width: 98%;
    height: 8em;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid black 1px;
    box-shadow: grey 5px 5px 15px 3px;
}

.sandwichSauce-nameLeft {
    width: 42%;
    float: left;
    text-align: center;
}

.sauceOptSand {
    font-family: 'Lato';
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.sandwichSauce-nameRight {
    width: 58%;
    float: left;
    text-align: center;
}

.sandwichSauceInput {
    margin-top: 10px;
    border: solid rgba(0, 0, 0, 0.2) 2px;
    border-radius: 2px;
    background-color: transparent;
}

.sandwichSauceBtnsC {
    width: 100%;
    float: left;
}

.sandwichSauce-btnsInner {
    width: 33.3%;
    float: left;
    margin-top: 1.1em;
    text-align: center;
}

.sandwichVegetable-container {
    width: 95%;
    height: 42em;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 1px;
    box-shadow: grey 5px 5px 15px 3px;
}

.sandwichVegetable-opt1, .sandwichVegetable-opt2 {
    width: 100%;
    float: left;
    margin-top: 2em;
}

.sandwichVegetableC {
    width: 20%;
    float: left;
}

.sandwichVegButton {
    width: 100%;
}

.sandwichMeats-container {
    width: 95%;
    height: 42em;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 1px;
    box-shadow: grey 5px 5px 15px 3px;
}

.sandwichMeats-opt1, .sandwichMeats-opt2, .sandwichMeats-opt3 {
    width: 100%;
    float: left;
    margin-top: 2em;
}

.sandwichMeatsC {
    width: 16.6%;
    float: left;
}

.sandwichMeatsCP {
    width: 100%;
    float: left;
    text-align: center;
}

.sandwichMeatsButton {
    width: 100%;
}

.sandwichMeatsCPButton {
    width: 50%;
}

.sandwichEnd-container {
    width: 95%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 1px;
    box-shadow: grey 5px 5px 15px 3px;
}

.sandwichProps-container {
    width: 100%;
    float: left;
}

.sandwichProps-left {
    width: 50%;
    float: left;
}

.sandwichProps-right {
    width: 50%;
    float: left;
}

.sandwichSubmit-container {
    width: 100%;
    float: left;
    text-align: center;
}