.mobileParallax-container {
    width: 100%;
    float: left;
}

.mobileParallax-containerInner {
    width: 100%;
    float: left;
}

.mobileContainer1 {
    width: 100%;
    float: left;
}

.mobileContainer2 {
    width: 100%;
    float: left;
}