.phoneBurger-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    float: left;
    background: white;
    z-index: 1;
}

.phoneBurgerNav-container {
    width: 100%;
    float: left;
    background: black;
    margin-top: 199px;
}