<div class="sandwichEdit-container">
    <div class="sandwichEdit-inner">
        <div class="sandwichEdit-titleContainer">
            <p class="sandwichEdit-title">Sandwich Editor</p>
        </div>
        <div class="sandwichEdit-dataContainer">
            {{#each sandwiches}}
            <div class="sandwichEdit-containerBox">
                <div class="sandwichEdit-leftBox">
                    <div class="sandwichEdit-id-title-wrap">
                        <div class="sandwichEdit-idBox">
                            <p class="sandwichEdit-id">{{SandwichID}}</p>
                        </div>
                        <div class="sandwichEdit-titleBox">
                            <div class="sandwichEdit-titleBoxInner">
                                <p class="sandwichEdit-title">{{SandwichName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichEdit-priceBox">
                        <div class="sandwichEdit-gridContainer">
                            <div class="sandwichEdit-gridLarge sandgE-3-3">
                                <p class="sandwichEdit-priceLarge"><b>Price: </b><i>${{SandwichPrice}}</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sandwichEdit-rightBox">
                    <div class="sandwichEdit-buttonContainer">
                        <div class="sandwichEdit-buttonInner">
                            {{!-- Does a delete request. --}}
                            <button class="sandwichEdit-buttonRemove">
                                <i class="fas fa-minus-circle"></i>
                            </button>

                            {{!-- Does a put request --}}
                            <button class="sandwichEdit-buttonEdit">
                                <i class="fas fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="sandwichForm-container">
            <div class="sandwichButton-container">
                <button class="sandwichEditor-button" id="sandwichButton">Add Sandwich +</button>
            </div>
            <div class=""></div>
        </div>
    </div>
</div>