<div class="adminSignup-container">
    <div class="adminSignup-text-container">
        <p class="adminSignup-text">Admin Signup</p>
    </div>
    <div class="adminSignup-form-container">
        <form class="adminSignup-form" id="signup" method="POST" action="/admin/signup">
            <div class="signupIntro-container">
                <p class="signupIntro-text">Signup</p>
            </div>
            <div class="adminSignup-firstname signup-container">
                <label class="label label-firstname" for="name">First Name: </label>
                <input class="input input-firstname" type="text" name="firstname" required />
            </div>
            <div class="adminSignup-lastname signup-container">
                <label class="label label-lastname" for="name">Last Name: </label>
                <input class="input input-lastname" type="text" name="lastname" required />
            </div>
            <div class="adminSignup-username signup-container">
                <label class="label label-username" for="name">Username: </label>
                <input class="input input-username" type="text" name="username" required />
            </div>
            <div class="adminSignup-password signup-container">
                <label class="label label-password" for="name">Password: </label>
                <input class="input input-password" type="password" name="password" required />
            </div>
            <div class="adminSignup-button-container">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>