<div class="sandwichEdit-container">
    <div class="sandwichEdit-inner">
        <div class="sandwichEdit-titleContainer">
            <p class="sandwichEdit-title">Sandwich Editor</p>
        </div>
        <div class="sandwichEdit-dataContainer">
            {{#each sandwiches}}
            <div class="sandwichEdit-containerBox">
                <div class="sandwichEdit-leftBox">
                    <div class="sandwichEdit-id-title-wrap">
                        <div class="sandwichEdit-idBox">
                            <p class="sandwichEdit-id">{{SandwichID}}</p>
                        </div>
                        <div class="sandwichEdit-titleBox">
                            <div class="sandwichEdit-titleBoxInner">
                                <p class="sandwichEdit-title">{{SandwichName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichEdit-priceBox">
                        <div class="sandwichEdit-gridContainer">
                            <div class="sandwichEdit-gridLarge sandgE-3-3">
                                <p class="sandwichEdit-priceLarge"><b>Price: </b><i>${{SandwichPrice}}</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sandwichEdit-rightBox">
                    <div class="sandwichEdit-buttonContainer">
                        <div class="sandwichEdit-buttonInner">
                            {{!-- Does a delete request. --}}
                            <button class="sandwichEdit-buttonRemove">
                                <i class="fas fa-minus-circle"></i>
                            </button>

                            {{!-- Does a put request --}}
                            <button class="sandwichEdit-buttonEdit">
                                <i class="fas fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="sandwichMain-container">
            <div class="sandwichButton-container">
                <button class="sandwichEditor-button" id="sandwichButton">Add Sandwich +</button>
            </div>
            <div class="sandwichFormOutter-container">
                <form class="sandwichForm-container" action="/menu/edit/sandwiches" method="POST">
                    <div class="sandwichGrid-1-4 sG-4-4">
                        <div class="sandwichCheese-container">
                            <div class="sandwichCheese-opt1">
                                <div class="sandwichCheese-nameC">
                                    <div class="sandwichCheese-nameLeft">
                                        <p class="cheeseOption1 cheeseOptSand">Cheese Option 1:</p>
                                    </div>
                                    <div class="sandwichCheese-nameRight">
                                        <input type="text" id="sandwichCheese1Option1" readonly
                                            class="sandwichCheeseInput" name="ingFirstCheese" />
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese1Selector1">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese1Label1">Pep Jack.
                                            </label>
                                        </button>
                                    </div>
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese1Selector2">
                                            <label class="sandwichCheeseLabel"
                                                id="sandwichCheese1Label2">Cheddar</label>
                                        </button>
                                    </div>
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese1Selector3">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese1Label3">Colby Jack
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese1Selector4">
                                            <label class="sandwichCheese1Label" id="sandwichCheese1Label4">Smoke Guda
                                            </label>
                                        </button>
                                    </div>
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese1Selector5">
                                            <label class="sandwichCheeseLabel"
                                                id="sandwichCheese1Label5">American</label>
                                        </button>
                                    </div>
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese1Selector6">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese1Label6">Swiss</label>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="sandwichCheese-opt2">
                                <div class="sandwichCheese-nameC">
                                    <div class="sandwichCheese-nameLeft">
                                        <p class="cheeseOption2 cheeseOptSand">Cheese Option 2:</p>
                                    </div>
                                    <div class="sandwichCheese-nameRight">
                                        <input type="text" id="sandwichCheese2Option2" readonly
                                            class="sandwichCheeseInput" name="ingSecondaryCheese" />
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese2Selector1">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese2Label1">Pep Jack.
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese2Selector2">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese2Label2">Cheddar
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese2Selector3">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese2Label3">Colby Jack
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese2Selector4">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese2Label4">Smoke Guda
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese2Selector5">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese2Label5">American
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div class="sandwichCheese-btnsInner">
                                        <button class="sandwichCheeseSelectorDisabled" type="button"
                                            id="sandwichCheese2Selector6">
                                            <label class="sandwichCheeseLabel" id="sandwichCheese2Label6">Swiss
                                            </label>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sandwichSauce-container">
                            <div class="sandwichSauce-opt1">
                                <div class="sandwichSauce-nameLeft">
                                    <p class="sauceOption1 sauceOptSand">Sauce Option 1:</p>
                                </div>
                                <div class="sandwichSauce-nameRight">
                                    <input type="text" id="sandwichSauce1Option1" class="sandwichSauceInput" readonly
                                        name="ingSauceType1" />
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce1Selector1">
                                            <label class="sandwichSauce1Label1" id="sandwichSauce1Label1">Mayo
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce1Selector2">
                                            <label class="sandwichSauce1Label2" id="sandwichSauce1Label2">Ranch
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce1Selector3">
                                            <label class="sandwichSauce1Label3" id="sandwichSauce1Label3">Honey Mustard
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce1Selector4">
                                            <label class="sandwichSauceLabel" id="sandwichSauce1Label4">Spicy Mustard
                                            </label>
                                        </button>
                                    </div>
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce1Selector5">
                                            <label class="sandwichSauceLabel" id="sandwichSauce1Label5">BBQ Sauce
                                            </label>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="sandwichSauce-opt2">
                                <div class="sandwichSauce-nameLeft">
                                    <p class="sauceOption1 sauceOptSand">Sauce Option 2:</p>
                                </div>
                                <div class="sandwichSauce-nameRight">
                                    <input type="text" id="sandwichSauce2Option2" class="sandwichSauceInput" readonly
                                        name="ingSauceType2" />
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce2Selector1">
                                            <label class="sandwichSauceLabel1" id="sandwichSauce2Label1">Mayo
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce2Selector2">
                                            <label class="sandwichSauceLabel" id="sandwichSauce2Label2">Ranch
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce2Selector3">
                                            <label class="sandwichSauceLabel" id="sandwichSauce2Label3">Honey Mustard
                                            </label>
                                        </button>
                                    </div>
                                </div>
                                <div class="sandwichSauce-btnsC">
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce2Selector4">
                                            <label class="sandwichSauceLabel" id="sandwichSauce2Label4">Spicy Mustard
                                            </label>
                                        </button>
                                    </div>
                                    <div class="sandwichSauce-btnsInner">
                                        <button class="sandwichSauceSelectorDisabled" type="button"
                                            id="sandwichSauce2Selector5">
                                            <label class="sandwichSauceLabel" id="sandwichSauce2Label5">BBQ Sauce
                                            </label>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichGrid-2-4 sG-4-4">
                        <div class="sandwichVegetable-container">
                            <div class="sandwichVegSelect-container">
                                <div class="sandwichVegTextContainer">
                                    <p>Vegetables Selected</p>
                                </div>
                                <div class="sandwichVegDataContainer">
                                    <p id="sandwichVegSelect"></p>
                                </div>
                            </div>
                            <div class="sandwichVegetable-opt1">
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingMushroom" class="sandMush-input meat-inputs"
                                            id="sandMushInput" value="Mushroom" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Mushroom
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingMixedPep" class="sandMixedPep-input meat-inputs"
                                            id="sandMixedPepInput" value="Mixed Pepper" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Mixed Pep.
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingTomato" class="sandTom-input meat-inputs"
                                            id="sandTomatoInput" value="Tomato" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Tomato
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingOnion" class="sandOnion-input meat-inputs"
                                            id="sandOnionInput" value="Onion" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Onion
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingJalapeno" class="sandJal-input meat-inputs"
                                            id="sandJalapenoInput" value="Jalapeno" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Jalapeno
                                        </label>
                                    </button>
                                </div>
                            </div>
                            <div class="sandwichVegetable-opt2">
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingPineapple" class="sandPine-input meat-inputs"
                                            id="sandPineappleInput" value="Pineapple" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Pineapple
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingBPepper" class="sandBpepper-input meat-inputs"
                                            id="sandBananaPepInput" value="Banana Pepper" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Banana Pep.
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingPickle" class="sandPickle-input meat-inputs"
                                            id="sandPickleInput" value="Pickle" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Pickle
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingBlackOlive" class="sandBO-input meat-inputs"
                                            id="sandBlackOliveInput" value="Black Olive" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Black Olive
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichVegetableC">
                                    <button class="sandwichVegButton" type="button" id="sandwichVegSelector">
                                        <input type="checkbox" name="ingCucumber" class="sandCuc-input meat-inputs"
                                            id="sandCucumberInput" value="Cucumber" />
                                        <label class="sandwichVegLabel" id="sandwichVegLabel">
                                            Cucumber
                                        </label>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichGrid-3-4 sG-4-4">
                        <div class="sandwichMeats-container">
                            <div class="sandwichMeatSelect-container">
                                <div class="sandwichMeatTextContainer">
                                    <p>Meats Selected</p>
                                </div>
                                <div class="sandwichMeatDataContainer">
                                    <p id="sandwichMeatSelect"></p>
                                </div>
                            </div>
                            <div class="sandwichMeats-opt1">
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingHam" class="sandHam-input meat-inputs"
                                            id="Input" value="Ham" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Ham
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingTurkey" class="sandTurkey-input meat-inputs"
                                            id="Input" value="Turkey" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Turkey
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingRoastBeef" class="sandRBeef-input meat-inputs"
                                            id="Input" value="Roast Beef" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Roast Beef
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingSalami" class="sandSalami-input meat-inputs"
                                            id="Input" value="Salami" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Salami
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingCanadianBacon"
                                            class="sandCanBacon-input meat-inputs" id="Input" value="Canadian Bacon" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Can. Bacon
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingBaconBits" class="sandBBits-input meat-inputs"
                                            id="Input" value="Bacon Bits" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Bacon Bits
                                        </label>
                                    </button>
                                </div>
                            </div>
                            <div class="sandwichMeats-opt2">
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingBaconStrips"
                                            class="sandBStrips-input meat-inputs" id="Input" value="Bacon Strips" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Bacon Strips
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingBeefCrumble"
                                            class="sandBCrumble-input meat-inputs" id="Input" value="Beef Crumble" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Beef Crumble
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingSausage" class="sandSausage-input meat-inputs"
                                            id="Input" value="Sausage" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Sausage
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingPepperoni"
                                            class="sandPepperoni-input meat-inputs" id="Input" value="Pepperoni" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Pepperoni
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingBurgerPatty"
                                            class="sandBurPat-input meat-inputs" id="Input" value="Burger Patty" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Burger Patty
                                        </label>
                                    </button>
                                </div>
                                <div class="sandwichMeatsC">
                                    <button class="sandwichMeatsButton" type="button" id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingCrispyChicken"
                                            class="sandCriPatty-input meat-inputs" id="Input" value="Crispy Chicken" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Crispy Chicken
                                        </label>
                                    </button>
                                </div>
                            </div>
                            <div class="sandwichMeats-opt3">
                                <div class="sandwichMeatsC sandwichMeatsCP">
                                    <button class="sandwichMeatsButton sandwichMeatsCPButton" type="button"
                                        id="sandwichMeatsSelector">
                                        <input type="checkbox" name="ingChickenPatty"
                                            class="sandCPatty-input meat-inputs" id="Input" value="Chicken Patty" />
                                        <label class="sandwichMeatsLabel" id="sandwichMeatsLabel">
                                            Chicken Patty
                                        </label>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichGrid-4-4 sG-4-4">
                        <div class="sandwichEnd-container">
                            <div class="sandwichProps-container">
                                <div class="sandwichProps-left">
                                    <div class="sandwichProps-name">
                                        <p>Sandwich Name:</p>
                                    </div>
                                    <div class="sandwichProps-nameInput">
                                        <input type="text" placeholder="Name" name="sandwichname" />
                                    </div>
                                </div>
                                <div class="sandwichProps-right">
                                    <div class="sandwichProps-price">
                                        <p>Price:</p>
                                    </div>
                                    <div class="sandwichProps-priceInput">
                                        <input type="number" placeholder="Price" name="sandwichprice" step=".01" />
                                    </div>
                                </div>
                            </div>
                            <div class="sandwichSubmit-container">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
