<div class="sandwichEdit-container">
    <div class="sandwichEdit-inner">
        <div class="sandwichEdit-titleContainer">
            <p class="sandwichEdit-title">Sandwich Editor</p>
        </div>
        <div class="sandwichEdit-dataContainer">
            {{#each sandwiches}}
            <div class="sandwichEdit-containerBox">
                <div class="sandwichEdit-leftBox">
                    <div class="sandwichEdit-id-title-wrap">
                        <div class="sandwichEdit-idBox">
                            <p class="sandwichEdit-id">{{SandwichID}}</p>
                        </div>
                        <div class="sandwichEdit-titleBox">
                            <div class="sandwichEdit-titleBoxInner">
                                <p class="sandwichEdit-title">{{SandwichName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichEdit-priceBox">
                        <div class="sandwichEdit-gridContainer">
                            <div class="sandwichEdit-gridLarge sandgE-3-3">
                                <p class="sandwichEdit-priceLarge"><b>Price: </b><i>${{SandwichPrice}}</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sandwichEdit-rightBox">
                    <div class="sandwichEdit-buttonContainer">
                        <div class="sandwichEdit-buttonInner">
                            {{!-- Does a delete request. --}}
                            <button class="sandwichEdit-buttonRemove">
                                <i class="fas fa-minus-circle"></i>
                            </button>

                            {{!-- Does a put request --}}
                            <button class="sandwichEdit-buttonEdit">
                                <i class="fas fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="sandwichMain-container">
            <div class="sandwichButton-container">
                <button class="sandwichEditor-button" id="sandwichButton">Add Sandwich +</button>
            </div>
            <div class="sandwichFormOutter-container">
                <form class="sandwichForm-container">
                    <div class="sandwichGrid-1-4 sG-4-4">
                        <div class="sandwichCheese-container">
                            <div class="sandwichCheese-opt1">
                                <div class="sandwichCheese-btnsC">
                                    <div>
                                        <input type="radio" id="" name="" />
                                        <label></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="" name="" />
                                        <label></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="" name="" />
                                        <label></label>
                                    </div>
                                </div>
                                <div class="sandwichCheese-btnsC">
                                    <div>
                                        <input type="radio" id="" name="" />
                                        <label></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="" name="" />
                                        <label></label>
                                    </div>
                                    <div>
                                        <input type="radio" id="" name="" />
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            <div class="sandwichCheese-opt2"></div>
                        </div>

                        <div class="sandwichSauce-container">
                            <div class="sandwichSauce-opt1">
                                <div>
                                    <input type="radio" id="" name="" />
                                    <label></label>
                                </div>
                                <div>
                                    <input type="radio" id="" name="" />
                                    <label></label>
                                </div>
                                <div>
                                    <input type="radio" id="" name="" />
                                    <label></label>
                                </div>
                            </div>
                            <div class="sandwichSauce-opt2">
                                <div>
                                    <input type="radio" id="" name="" />
                                    <label></label>
                                </div>
                                <div>
                                    <input type="radio" id="" name="" />
                                    <label></label>
                                </div>
                                <div>
                                    <input type="radio" id="" name="" />
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichGrid-2-4 sG-4-4">
                        <div class="sandwichVegtable-container">
                            <div>
                                <input type="radio" id="" name="" />
                                <label></label>
                            </div>
                            <div>
                                <input type="radio" id="" name="" />
                                <label></label>
                            </div>
                            <div>
                                <input type="radio" id="" name="" />
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichGrid-3-4 sG-4-4">
                        <div class="sandwichMeats-container">
                            <div>
                                <input type="radio" id="" name="" />
                                <label></label>
                            </div>
                            <div>
                                <input type="radio" id="" name="" />
                                <label></label>
                            </div>
                            <div>
                                <input type="radio" id="" name="" />
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div class="sandwichGrid-4-4 sG-4-4">
                        <div class="sandwichEnd-container">
                            <div class="sandwichProps-container">
                                <div class="sandwichProps-left">
                                    <p></p>
                                    <input type="text" placeholder="Name" />
                                </div>
                                <div class="sandwichProps-right">
                                    <p></p>
                                    <input type="text" placeholder="Price" />
                                </div>
                            </div>
                            <div class="sandwichSubmit-container">
                                <button type="submit"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>