<div class="saladEdit-container">
    <div class="saladEdit-inner">
        <div class="saladEdit-titleContainer">
            <p class="saladEdit-title">Salad Editor</p>
        </div>
        <div class="saladEdit-dataContainer">
            {{#each salads}}
            <div class="saladEdit-containerBox">
                <div class="saladEdit-leftBox">
                    <div class="saladEdit-id-title-wrap">
                        <div class="saladEdit-idBox">
                            <p class="saladEdit-id">{{SaladID}}</p>
                        </div>
                        <div class="saladEdit-titleBox">
                            <div class="saladEdit-titleBoxInner">
                                <p class="saladEdit-title">{{SaladName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="saladEdit-priceBox">
                        <div class="saladEdit-gridContainer">
                            <div class="saladEdit-gridLarge sandgE-3-3">
                                <p class="saladEdit-priceLarge"><b>Price: </b><i>${{SaladPrice}}</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="saladEdit-rightBox">
                    <div class="saladEdit-buttonContainer">
                        <div class="saladEdit-buttonInner">
                            {{!-- Does a delete request. --}}
                            <button class="saladEdit-buttonRemove">
                                <i class="fas fa-minus-circle"></i>
                            </button>

                            {{!-- Does a put request --}}
                            <button class="saladEdit-buttonEdit">
                                <i class="fas fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="saladMain-container">
            <div class="saladButton-container">
                <button class="saladEditor-button" id="saladButton">Add salad +</button>
            </div>
            <div class="saladFormOutter-container">
                <form class="saladForm-container" action="/menu/edit/salads" method="POST">
                    
                    <div class="saladGrid-1-3 sG-3-3">
                        <div class="saladVegetable-container">
                            <div class="saladVegSelect-container">
                                <div class="saladVegTextContainer">
                                    <p>Vegetables Selected</p>
                                </div>
                                <div class="saladVegDataContainer">
                                    <p id="saladVegSelect"></p>
                                </div>
                            </div>
                            <div class="saladVegetable-opt1">
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingMushroom" class="sandMush-input meat-inputs"
                                            id="sandMushInput" value="Mushroom" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Mushroom
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingMixedPep" class="sandMixedPep-input meat-inputs"
                                            id="sandMixedPepInput" value="Mixed Pepper" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Mixed Pep.
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingTomato" class="sandTom-input meat-inputs"
                                            id="sandTomatoInput" value="Tomato" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Tomato
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingOnion" class="sandOnion-input meat-inputs"
                                            id="sandOnionInput" value="Onion" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Onion
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingJalapeno" class="sandJal-input meat-inputs"
                                            id="sandJalapenoInput" value="Jalapeno" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Jalapeno
                                        </label>
                                    </button>
                                </div>
                            </div>
                            <div class="saladVegetable-opt2">
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingPineapple" class="sandPine-input meat-inputs"
                                            id="sandPineappleInput" value="Pineapple" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Pineapple
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingBPepper" class="sandBpepper-input meat-inputs"
                                            id="sandBananaPepInput" value="Banana Pepper" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Banana Pep.
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingPickle" class="sandPickle-input meat-inputs"
                                            id="sandPickleInput" value="Pickle" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Pickle
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingBlackOlive" class="sandBO-input meat-inputs"
                                            id="sandBlackOliveInput" value="Black Olive" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Black Olive
                                        </label>
                                    </button>
                                </div>
                                <div class="saladVegetableC">
                                    <button class="saladVegButton" type="button" id="saladVegSelector">
                                        <input type="checkbox" name="ingCucumber" class="sandCuc-input meat-inputs"
                                            id="sandCucumberInput" value="Cucumber" />
                                        <label class="saladVegLabel" id="saladVegLabel">
                                            Cucumber
                                        </label>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="saladGrid-2-3 sG-3-3">
                        <div class="saladMeats-container">
                            <div class="saladMeatSelect-container">
                                <div class="saladMeatTextContainer">
                                    <p>Meats Selected</p>
                                </div>
                                <div class="saladMeatDataContainer">
                                    <p id="saladMeatSelect"></p>
                                </div>
                            </div>
                            <div class="saladMeats-opt1">
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingHam" class="sandHam-input meat-inputs"
                                            id="Input" value="Ham" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Ham
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingTurkey" class="sandTurkey-input meat-inputs"
                                            id="Input" value="Turkey" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Turkey
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingRoastBeef" class="sandRBeef-input meat-inputs"
                                            id="Input" value="Roast Beef" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Roast Beef
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingSalami" class="sandSalami-input meat-inputs"
                                            id="Input" value="Salami" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Salami
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingCanadianBacon"
                                            class="sandCanBacon-input meat-inputs" id="Input" value="Canadian Bacon" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Can. Bacon
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingBaconBits" class="sandBBits-input meat-inputs"
                                            id="Input" value="Bacon Bits" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Bacon Bits
                                        </label>
                                    </button>
                                </div>
                            </div>
                            <div class="saladMeats-opt2">
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingBaconStrips"
                                            class="sandBStrips-input meat-inputs" id="Input" value="Bacon Strips" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Bacon Strips
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingBeefCrumble"
                                            class="sandBCrumble-input meat-inputs" id="Input" value="Beef Crumble" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Beef Crumble
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingSausage" class="sandSausage-input meat-inputs"
                                            id="Input" value="Sausage" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Sausage
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingPepperoni"
                                            class="sandPepperoni-input meat-inputs" id="Input" value="Pepperoni" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Pepperoni
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingBurgerPatty"
                                            class="sandBurPat-input meat-inputs" id="Input" value="Burger Patty" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Burger Patty
                                        </label>
                                    </button>
                                </div>
                                <div class="saladMeatsC">
                                    <button class="saladMeatsButton" type="button" id="saladMeatsSelector">
                                        <input type="checkbox" name="ingCrispyChicken"
                                            class="sandCriPatty-input meat-inputs" id="Input" value="Crispy Chicken" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Crispy Chicken
                                        </label>
                                    </button>
                                </div>
                            </div>
                            <div class="saladMeats-opt3">
                                <div class="saladMeatsC saladMeatsCP">
                                    <button class="saladMeatsButton saladMeatsCPButton" type="button"
                                        id="saladMeatsSelector">
                                        <input type="checkbox" name="ingChickenPatty"
                                            class="sandCPatty-input meat-inputs" id="Input" value="Chicken Patty" />
                                        <label class="saladMeatsLabel" id="saladMeatsLabel">
                                            Chicken Patty
                                        </label>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="saladGrid-3-3 sG-3-3">
                        <div class="saladEnd-container">
                            <div class="saladProps-container">
                                <div class="saladProps-left">
                                    <div class="saladProps-name">
                                        <p>Salad Name:</p>
                                    </div>
                                    <div class="saladProps-nameInput">
                                        <input type="text" placeholder="Name" name="saladname" />
                                    </div>
                                </div>
                                <div class="saladProps-right">
                                    <div class="saladProps-price">
                                        <p>Price:</p>
                                    </div>
                                    <div class="saladProps-priceInput">
                                        <input type="number" placeholder="Price" name="saladprice" step=".01" />
                                    </div>
                                </div>
                            </div>
                            <div class="saladSubmit-container">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
