<!DOCTYPE html>
<html>

<head>
  <title>Authentication</title>
  <link rel='stylesheet' href='/stylesheets/adminLogin.css' />
  <link rel='stylesheet' href='/stylesheets/adminSignup.css' />
  <link rel='stylesheet' href='/stylesheets/userProfile.css' />
  {{!-- <link rel='stylesheet' href='/stylesheets/adminGlobalTable.css' /> --}}
  <link rel='stylesheet' href='/stylesheets/adminPizzaTable.css' />
  <link rel='stylesheet' href='/stylesheets/adminSandwichTable.css' />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/e9aeaea342.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body onload="checkDate(), startTime(), getDay(), checkTime();"> {{! Re-add the functions from data.js}}
  {{{body}}}
  <script src="/scripts/date.js"></script>
  <script src="/scripts/pizzaTable.js"></script>
  <script src="/scripts/buttonFunct.js"></script>
</body>

</html>